<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Wszystkie produkty</title>
</head>
<body style="font-family:verdana; margin-left: 100px;">
<h1>DOSTĘPNE PRODUKTY</h1>
<ul>
    <li th:each="product:${products}" th:text="|${product.name} ${product.price} ${product.category}|">
    </li>
</ul>
<form action="/dodaj" method="post" th:object="${product}">
    <input type="text" placeholder="nazwa" th:field="*{name}">
    <input type="number" placeholder="cena" th:field="*{price}">
    <input type="text" placeholder="kategoria" th:field="*{category}">
    <input type="submit" value="Dodaj!">
</form>

</body>
</html>